@import url('normalize.css');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,600,400|Bree+Serif');
body{
	background: #0AC5F4;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 13pt;
	color: white;
	-webkit-font-smoothing: subpixel-antialiased;
}
strong{
	font-weight: 600;
}
ul.unlist{
	list-style: none;
	padding: 0;
}
h1{
	font-family: "Bree Serif";
	font-size: 64pt;
	margin: 50px;
}
h1 a{
	text-decoration: none;
	color: #1269F7;
	font-size: 32pt;
	display: block;
	line-height: 0.1em;
	position: relative;
}