@import url('normalize.css');
/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,600,400|Bree+Serif');*/
/* using local fonts will cause incorrect line-height */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/breeserif/v2/LQ7WLTaITDg4OSRuOZCps73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
body{
	background: #0AC5F4;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 13pt;
	color: white;
	-webkit-font-smoothing: subpixel-antialiased;
}
strong{
	font-weight: 600;
}
ul.unlist{
	list-style: none;
	padding: 0;
}
h1{
	font-family: "Bree Serif", serif;
	font-size: 64pt;
	margin: 50px;
}
h1 a{
	text-decoration: none;
	color: #1269F7;
	font-size: 32pt;
	display: block;
	line-height: 0.1em;
	position: relative;
}
.icon{
	padding-top: 8px;
	width: 64px;
	height: 56px;
	display: inline-block;
	text-align: center;
	background: #0788A9;
}
.icon:hover{
	background: #055E74;
}
@media (max-width: 800px){
	h1{
		margin-left: 10px;
		margin-right: 10px;
	}
}