@import "../variables.scss";
@import "../Item/style.scss";

.achievement{
	text-align: center;
	margin-bottom: 20px;
}
.achievement img{
	max-width: 100%;
	max-height: 300px;
}
.title{
	margin-top: 10px;
	display: block;
}
.skipHelp, .skipHelpMobile{
	font-size: 12pt;
	color: #a4ecff;
	margin-bottom: 20px;
}
.skipHelp{
	margin-top: -20px;
}
.skipHelpMobile{
	text-align: center;
	display: none;
}

@media (max-width: $responsiveSm){
	.skipHelp{
		display: none;	
	}
	.skipHelpMobile{
		display: block;
	}
}